doctype html
html(ng-app="gameshelf")
  head
    base(href="/")

    title GameShelf.io
    //- We start off with everything that we can from Bower
    script(src="/public/js/angular/angular.min.js")
    script(src="/public/js/angular-ui-router/release/angular-ui-router.min.js")
    //- Offer project js files
    script(src="/public/js/index.js")
    script(src="/public/js/collection/collection-controller.js")

  body
    ul
        li
            a(ui-sref="home") Home
        li
            a(ui-sref="collection") Collection
    div
        div(ui-view)